<h2>Eventos:</h2>
<hr>

<div class="form-group row">
  <label style="font-weight: bold;" for="staticEmail" class="col-auto col-form-label">Filtro:</label>
  <div class="col-5">
    <input
    type="text"
    id="staticEmail"
    class="form-control"
    placeholder="buscar"
    [(ngModel)]="filtroLista"
    >
  </div>
</div>
<hr>
<table class="table table-secondary table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm"
        (click)="alterarImagem()">
          {{mostrarImagem ? 'Ocultar' : 'Mostrar'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="!mostrarImagem"
             [isAnimated]="true"
        src="/assets/images/{{evento.imagemURL}}" alt=""
        [style.width.px]="widthImg"
        [style.margin.px]="marginImg"
        >
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button type="button" class="btn btn-primary ms-2">Editar</button>
        <button type="button" class="btn btn-danger ms-2">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
