<div class="card rounded shadow-sm p-3">
  <div class="d-flex p-3">
    <div class="flex-fill">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Filtro:</div>
        </div>

        <div class="col-5">
          <input
            type="text"
            class="form-control"
            placeholder="buscar"
            [(ngModel)]="filtroLista"
          />
        </div>
      </div>
    </div>

    <div class="ms-auto">
      <a class="d-flex btn btn-outline-primary" routerLink="/eventos/detalhe">
        <i class="fa fa-plus-circle my-1 mx-1"></i>
        <b class="ml-1 d-none d-sm-block">Novo</b>
      </a>
    </div>
  </div>

  <table class="table table-secondary table-striped justify-content-center table-hover">
    <thead class="table-dark">
      <tr>
        <th class="d-none d-md-table-cell">
          <button
            type="button"
            class="btn btn-outline-light btn-sm"
            (click)="alterarImagem()"
          >
            <i
              class="{{ mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye' }}"
            ></i>
            {{ mostrarImagem ? "Ocultar" : "Mostrar" }}
          </button>
        </th>
        <th>#</th>
        <th class="align" scope="col">Tema</th>
        <th class="d-none d-md-table-cell">Local</th>
        <th>Data</th>
        <th class="d-none d-md-table-cell">Qtd Pessoas</th>
        <th class="d-none d-md-table-cell">Lote</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
      <tr *ngFor="let evento of eventosFiltrados" (click)="detalheEvento(evento.id)" style="cursor: pointer;">
        <td class="d-none d-md-table-cell">
          <img
            class="img-event"
            [collapse]="!mostrarImagem"
            [isAnimated]="true"
            src="/assets/images/{{ evento.imagemURL }}"
            alt=""
            [style.width.px]="widthImg"
            [style.margin.px]="marginImg"
          />
        </td>
        <td class="text-lg-center">{{ evento.id }}</td>
        <td>{{ evento.tema }}</td>
        <td class="d-none d-md-table-cell">{{ evento.local }}</td>
        <td>{{ evento.dataEvento | DateTimeFormatPipe }}</td>
        <td class="d-none d-md-table-cell">{{ evento.qtdPessoas }}</td>
        <td class="d-none d-md-table-cell">{{ evento.lotes[0].nome }}</td>
        <td>
          <button
            (click)="openModal(template)"
            tooltip="Excluir"
            type="button"
            id="btn-delete"
            class="btn btn-danger ms-2"
          >
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!eventos.length">
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhum evento encontrado!</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja deletar?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">
      Sim
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      Não
    </button>
  </div>
</ng-template>
